REPORT_PERFORACION_ADMIN_USER=ProyectoDES
# Usar hash bcrypt en produccion. REPORT_PERFORACION_ADMIN_PASSWORD solo queda como migracion temporal.
REPORT_PERFORACION_ADMIN_PASSWORD_HASH=
REPORT_PERFORACION_ADMIN_PASSWORD=CAMBIAR_ESTA_CLAVE_TEMPORAL
REPORT_PERFORACION_ADMIN_NAME=ProyectoDES
REPORT_PERFORACION_ADMIN_ROLE=admin
